<!-- header.ejs -->

<img src="../../img/logoAQLite.png" alt="Logo" class="logo">
<div class="compte">
	<button type="button" id="logout" class="deconnexion">Deconnexion</button>
	<p class="msgBienvenue">Bienvenue <%- firstname + " " + lastname -%></p>
</div>
<p class="titre"><%- h_title -%></p>



<script>

	$('#logout').click(function(){
		document.location.href = '/logout';
	});

	$(function() {
	    $("#sortable").sortable();
	    $("#sortable").disableSelection();
	});
	
    socket.on('message', function(message){
		notif(message, "#39CA74");
    });

    $(function() {
        $("#sortable").sortable({
            start: function(event, ui) {
                ui.item.bind("click.prevent",
                    function(event) { event.preventDefault(); });
            },
            stop: function(event, ui) {
                setTimeout(function(){ui.item.unbind("click.prevent");}, 300);
            }
            });
        $("#sortable").disableSelection();
    });

</script>