<!-- header.ejs -->

<img src="../../img/logoAQLite.png" alt="Logo" class="logo">
<div class="compte">
	<button type="button" id="logout" class="deconnexion">Déconnexion</button>
	<p class="msgBienvenue">Bienvenue <%- firstname + " " + lastname -%></p>
</div>
<p class="titre"><%- h_title -%></p>



<script>

	$('#logout').click(function(){
		document.location.href = '/logout';
	});

    socket.on('message', function(message, color="#39CA74"){
		notif(message, color);
    });

</script>
