body {
	background-color: #FFF;
	color: #383838;
}

container {
	position: absolute;
	display: block;
	padding: 30px;
	top: 100px;
	width: 100%;
}

table {
	border-collapse: collapse;
	width: 800px;
	position: relative;
	margin: auto;
	background-color: #FFF;
	border-radius: 1px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

tr {
	vertical-align: middle;
	text-align: center;
}

th {
	background-color: #B8B8B8;
	color: #FFF;
	text-transform: uppercase;
	border-right: 1px solid #DFDFDF;
	border-left: 1px solid #DFDFDF;
}

tr:nth-child(even) {
    background-color: #F7F7F7;
}

td {
	border-right: 1px solid #DFDFDF;
	border-left: 1px solid #DFDFDF;
}

tbody tr {
	cursor: pointer;
	transition: all .4s;
}

tbody tr:hover {
	background-color: #DFDFDF;
	transition: all .4s;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

tr {
	height: 50px;
	width: 100%;
}

table .complet {
	color: #2ECC71;
}

table .imcomplet {
	color: #E74C3C;
}

.boutonContainer {
	width: 800px;
	margin: auto;
}









