body {
	background-color: #FFF;
	color: #383838;
}

container {
	position: absolute;
	display: block;
	padding: 0 30px;
	top: 100px;
	width: 100%;
	height: calc(100% - 100px);
}

.group {
	width: calc(100%);
	height: 45px;
}

container div {
	display: inline-block;
}

.nomQuestion {
	width: calc(50% - 15px);
	float: left;
	padding: 0 20px;
	border-radius: 1px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.reponses {
	width: calc(50% - 15px);
	float: right;
}

.ajouterReponses {
	width: 100%;
	float: right;
	padding: 0 20px;
	background-color: #FFF;
	border-radius: 1px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.listeReponses {
	width: 100%;
	max-height: 300px;
	margin-top: 20px;
	background-color: #FFF;
	border-radius: 1px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	overflow-y: scroll;
}

.listeReponses table {
	width: 100%;
	border-collapse: collapse;
}

.listeReponses th {
	display: inline-block;
	height: 100%;
	background-color: #B8B8B8;
	color: #FFF;
	text-transform: uppercase;
	border-right: 1px solid #DFDFDF;
	border-left: 1px solid #DFDFDF;
}

.listeReponses tr {
	height: 50px;
	width: 100%;
}

.listeReponses td:nth-child(1), th:nth-child(1) {
	width: 65%;
	line-height: 45px;
	padding-left: 15px;
}

.listeReponses td:nth-child(2), th:nth-child(2) {
	width: 20%;
}

.listeReponses td:nth-child(3), th:nth-child(3) {
	width: 15%;
}

.listeReponses tr:nth-child(odd) {
    background-color: #FFF;
}

.listeReponses tr:nth-child(even) {
    background-color: #F7F7F7;
}

.listeReponses td {
	display: inline-block;
	height: 100%;
	line-height: 45px;
	border-right: 1px solid #DFDFDF;
	border-left: 1px solid #DFDFDF;
}

.listeReponses input[type='radio'] {
	display: block;
	margin: auto;
	transform: translateY(18px);
	vertical-align: middle;
	cursor: pointer;
}

.listeReponses .supprimerReponse {
	color: #FFF;
	background-color: #E74C3C;
	text-align: center;
	padding: 0 10px;
	cursor: pointer;
}










