<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
	    <title><%- title -%></title>
	</head>

	<body id="404">
	    <h1>Erreur 404 - Page Introuvable !</h1>
		<p><a href='/admin' >Revenir à l'accueil</a></p>
	</body>
</html>
