<!DOCTYPE html>
<html>
	<head>
	    <%- include('./partials/head'); -%>
	</head>

	<body id="admin">
		<header>
	    	<%- include('./partials/header') -%>
		</header>
		<container>

			<div class="btnRetour">
				<button type="button" id="btnRetour" >Retour</button>
			</div>

			<div class="btn">
				<button type="button" id="StartCall" >Démarrer l'appel</button>
			</div>

			<div class="btn">
				<button type="button" id="StopCall" >Arrêter l'appel</button>
			</div>

			<p id="nbNoms"></p>

			<table id='tableName'></table>

		</container>
	</body>

	<script>

$(document).ready(function() {
	$('#StopCall').hide();

	$('#btnRetour').click(function(){
		socket.emit('req_stop_call');
		socket.on('res_stop_call', function(data){
			document.location.href = '../admin';
		});
	});

	$('#StartCall').click(function(){
		var currentdate = new Date();
		var date = currentdate.getFullYear() + "-"
            + (currentdate.getMonth()+1)  + "-"
            + currentdate.getDate() + " "
            + currentdate.getHours() + ":"
            + currentdate.getMinutes() + ":"
            + currentdate.getSeconds();

		socket.emit('req_start_call', date);
		socket.on('res_start_call', function(data){
			$('#StartCall').hide();
			$('#StopCall').show();
		});
	});

	$('#StopCall').click(function(){
		socket.emit('req_stop_call');
		socket.on('res_stop_call', function(data){
			$('#StartCall').show();
			$('#StopCall').hide();
		});
	});

	socket.on('req_add_name', function(data){
		AfficheNbReponses(data);
		RemplirNoms(data);
	});

	function AfficheNbReponses(data){
		if (data.length == 0) $('#nbNoms').text("Il n'y a pas de réponse");
		else if (data.length == 1) $('#nbNoms').text("Il y a 1 réponse");
		else $('#nbNoms').text("Il y a " + data.length + " réponses");
	}

	function RemplirNoms(data){
		$('#tableName').empty();
		for (var a in data){
			$('#tableName').append("<tr><td></td><td>" + data[a].VALEUR_SMS + "</td></tr>");
		}
	}

});

	</script>
</html>
