<!DOCTYPE html>
<html>
	<head>
	    <%- include('./partials/head'); -%>
	</head>

	<body id="appel">
		<header>
	    	<%- include('./partials/header') -%>
		</header>
		<container>

			<div class="btnRetour">
				<button type="button" id="btnRetour" >Retour</button>
			</div>

			<button type="button" class="bouton" id="startCall">Démarrer l'appel</button>
			<button type="button" class="bouton suppr" id="stopCall" style="display:none;">Arrêter l'appel</button>

			<div type="button" id="nbEleve" class="bouton">Aucune réponse</div>

			<div class="listeEleves">
				<ul></ul>
			</div>
		</container>
	</body>

	<script>

$(document).ready(function() {
	$('#btnRetour').click(function(){
		socket.emit('req_stop_call');
		socket.on('res_stop_call', function(data){
			document.location.href = '../admin';
		});
	});

	$('#startCall').click(function(){
		var currentdate = new Date();
		var date = currentdate.getFullYear() + "-"
            + (currentdate.getMonth() + 1)  + "-"
            + currentdate.getDate() + " "
            + currentdate.getHours() + ":"
            + currentdate.getMinutes() + ":"
            + currentdate.getSeconds();

		socket.emit('req_start_call', date);
		socket.on('res_start_call', function(data){
			$('#startCall').hide();
			$('#stopCall').show();
		});
	});

	$('#stopCall').click(function(){
		socket.emit('req_stop_call');
		socket.on('res_stop_call', function(data){
			$('#startCall').show();
			$('#stopCall').hide();
		});
	});

	socket.on('req_add_name', function(data){
		afficheNbReponses(data);
		ajouterEleve(data);
	});

	function afficheNbReponses(data){
		if (data.length == 0) $('#nbEleve').text("Aucun élève n'a répondu");
		else if (data.length == 1) $('#nbEleve').text("1 élève a répondu");
		else $('#nbEleve').text(data.length + " élèves ont répondu");
	}

	function ajouterEleve(data){
		$('.listeEleves ul').empty();
		for (var a in data){
			$('.listeEleves ul').append("<li>" + data[a].VALEUR_SMS + "</li>");
		}
	}
});
	</script>
</html>
