<!DOCTYPE html>
<html>
	<head>
		<%- include('./partials/head'); -%>
		<script src="https://www.gstatic.com/charts/loader.js"></script>
		<script src="../../js/stats.js"></script>
	</head>

	<body id="launched">
		<div class="blocQuestion">
			<button type="button" id="btnQuitterDiapo" class="bouton suppr" >Quitter</button>

			<h2 id="numQuestion" class="numQuestion"></h2>
			<h1 id="nomQuestion" class="question"></h1>

			<div>
				<p id="nbAnswer"></p>
			</div>

			<ol class="listeReponses" type="A">
			</ol>

			<div class="stats">
				<div id="pieChart"></div>
				<div id="columnChart"></div>
			</div>

			<div class="commands">
				<button type="button" id="nextQuestion" class="bouton">></button>
				<button type="button" id="showAnswer" class="bouton">Réponse</button>
				<button type="button" id="ButtonStats" class="bouton">Stats</button>
				<button type="button" id="previousQuestion" class="bouton"><</button>
			</div>
		</div>
	</body>
	<script>

	
	// Variables
	var numQuestion = 1;
	var idQuestion;
	var nbQuestion;
	var idGoodAnswer;
	var displayStat = false;
	var listeReponses;
	var q;

    socket.on('send_stats', function(result){
    	var nbAnswer = 0;
    	for(var rep in result){
    		nbAnswer += result[rep].NB_SMS;
    	}
    	$('#nbAnswer').text(nbAnswer + " personnes ont répondu");

		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(function(){
			drawChart(listeReponses, result);
		});
	});

    // Chargement du JS
	$(document).ready(function(questions){

		// ========= INIT =========
		$('#previousQuestion').attr("disabled", true);
		$('.stats').hide();

		// loading questions
		var idSession = <%- JSON.stringify(idSession) -%>;
		var questions = <%- JSON.stringify(questions) -%>;
		q = questions;
		nbQuestion = questions.length;
		loadQuestion(numQuestion, nbQuestion);

		// ========= LEAVE EVENT ========= //
		$('#btnQuitterDiapo').click(function(){
			socket.emit('req_stop_questionnaire', idSession);
			socket.on('res_stop_questionnaire', function(){
				document.location.href="../../admin";
			});
		});

		jQuery(window).bind("beforeunload", function() {
				socket.emit('req_stop_questionnaire', idSession);
		    }
		);

		// ========= KEY PRESS ========= //
		$(window).keydown(function (e){
		    if(e.keyCode == 39) // RIGHT
				nextQuestion();
		    else if(e.keyCode == 37) // LEFT
		    	previousQuestion();
		});
		// ========= DISPLAY NEXT AND PREV ========= //
		$('#previousQuestion').click(function(){
			previousQuestion();
		});
		// NEXT
		$('#nextQuestion').click(function(){
			nextQuestion();
		});
		$('#showAnswer').click(function(){
			$('#goodAnswer').toggleClass('goodAnswer');
		});

		$('#ButtonStats').click(function(){
			if (displayStat){
				$('.stats').hide();
				$('.listeReponses').show();
				$('#ButtonStats').text('Stats');
				displayStat = false;
				$('#showAnswer').show();
			} else {
				$('.stats').show();
				$('.listeReponses').hide();
				$('#ButtonStats').text('Réponses');
				$('#showAnswer').hide();
				displayStat = true;
			}
		});

		// ========= FUNCTIONS ========= //
		function loadQuestion(numQuestion, nbQuestions){
			$('.listeReponses').empty();
			idQuestion = q[numQuestion-1].ID_QUESTION;
			$('#numQuestion').empty().append("Question " + numQuestion + "/" + nbQuestions);
			$('#nomQuestion').empty().append(q[numQuestion-1].NOM_QUESTION);
			idGoodAnswer = q[numQuestion-1].ID_REPONSE_BONNE;
			loadAnswers(idQuestion);
		}
		function loadAnswers(idQuestion){
			// Chargement reponse par question
			socket.emit('req_answer_by_idQuestion', idQuestion);
			socket.on('res_answer_by_idQuestion', function(data){
				$('.listeReponses').empty();
				listeReponses = [];
				for(var rep in data){
					listeReponses.push(data[rep].NOM_REPONSE);
					if (data[rep].ID_REPONSE == idGoodAnswer){
						$('.listeReponses').append('<li id="goodAnswer" class="reponse">' + data[rep].NOM_REPONSE + '</li>');
					} else {
						$('.listeReponses').append('<li class="reponse">' + data[rep].NOM_REPONSE + '</li>');
					}
				}
			});
		}

		function nextQuestion(){
			$('#showAnswer').show();
			$('#ButtonStats').text('Stats');
			$('.stats').hide();
			if (numQuestion < nbQuestion){
				numQuestion++;
				loadQuestion(numQuestion, nbQuestion);
				$('.listeReponses').show();
			}
			refreshDisplayPrevNext();
		}

		function previousQuestion(){
			$('#showAnswer').show();
			$('#ButtonStats').text('Stats');
			$('.stats').hide();
			if (numQuestion > 1){
				numQuestion--;
				loadQuestion(numQuestion, nbQuestion);
				$('.listeReponses').show();
			}
			refreshDisplayPrevNext();
		}

		function refreshDisplayPrevNext(){
			// Bouton précédent
			if (numQuestion<=1) $('#previousQuestion').attr("disabled", true);
			else $('#previousQuestion').attr("disabled", false);
			// Bouton suivant
			if (numQuestion>=nbQuestion) $('#nextQuestion').attr("disabled", true);
			else $('#nextQuestion').attr("disabled", false);
		}

	});

	</script>
</html>