<!DOCTYPE html> 
<html>
	<head>
		<meta charset="UTF-8">
		<title>AmphiQuizz - Questionnaire en cours</title>
		<script src="../../js/jquery.js"></script>
		<script src="../../js/jquery-ui.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script src="../../js/stats.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/commun.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/diapo.css"/>
	</head>

	<body>
		<div class="blocQuestion">
			<button type="button" id="btnQuitterDiapo" class="bouton suppr" >Quitter</button>

			<h2 id="numQuestion" class="numQuestion"></h2>
			<h1 id="nomQuestion" class="question"></h1>

			<ol class="listeReponses" type="A">
			</ol>

			<div class="stats">
				<div id="pieChart"></div>
				<div id="columnChart"></div>
			</div>

			<div class="commands">
				<button type="button" id="nextQuestion" class="bouton">></button>
				<button type="button" id="showAnswer" class="bouton">Réponse</button>
				<button type="button" id="ButtonStats" class="bouton">Stats</button>
				<button type="button" id="previousQuestion" class="bouton"><</button>
			</div>
		</div>
	</body>
	<script>
	
	// Connection SOCKET
	var socket = io.connect('http://localhost:8080');

	// variables
	var numQuestion = 1;
	var idQuestion;
	var nbQuestion;
	var idGoodAnswer;
	var displayStat = false;
	var listeReponses;
	var q;
    	
    var pos_id_session = document.URL.lastIndexOf('/');
    var id_session = document.URL.substr(pos_id_session+1);

    // Chargement du JS
	$(document).ready(function(){
		// ========= INIT =========
		$('#ButtonStats').attr('disabled', false)
		$('#previousQuestion').attr("disabled", true);
		$('.stats').hide();

		// loading questions
		socket.emit('req_question_byQuest', id_session);
		socket.on('res_question_byQuest', function(data){
			q = data;
			nbQuestion = data.length;
			loadQuestion(numQuestion, nbQuestion);
		});

		// ========= LEAVE EVENT ========= //
		$('#btnQuitterDiapo').click(function(){
			socket.emit('req_stop_questionnaire', id_session);
			socket.on('req_stop_questionnaire', function(){
				document.location.href="../../admin";
			});
		});

		jQuery(window).bind("beforeunload", function() { 
				socket.emit('req_stop_questionnaire', id_session);
		    }
		)
		// ========= KEY PRESS ========= //
		$(window).keydown(function (e){
		    if(e.keyCode == 39) // RIGHT
				nextQuestion();
		    else if(e.keyCode == 37) // LEFT
		    	previousQuestion();/*
		    else if(e.keyCode == 32) // SPACEBAR
				$('#goodAnswer').toggleClass('goodAnswer');*/
		});

		// ========= DISPLAY NEXT AND PREV ========= //
		$('#previousQuestion').click(function(){
			previousQuestion();
		});
		// NEXT
		$('#nextQuestion').click(function(){
			nextQuestion();
		});
		$('#showAnswer').click(function(){
			$('#goodAnswer').toggleClass('goodAnswer');
		});
		$('#ButtonStats').click(function(){
			showStats();
		});
		// ========= FUNCTIONS ========= //
		function loadQuestion(numQuestion, nbQuestions){
			$('.listeReponses').empty();
			idQuestion = q[numQuestion-1].ID_QUESTION;
			$('#numQuestion').empty().append("Question " + numQuestion + "/" + nbQuestions);
			$('#nomQuestion').empty().append(q[numQuestion-1].NOM_QUESTION);
			idGoodAnswer = q[numQuestion-1].ID_REPONSE_BONNE;
			loadAnswers(idQuestion);
		}

		function loadAnswers(idQuestion){
			// Chargement reponse par question
			socket.emit('req_answer_by_idQuestion', idQuestion);
			socket.on('res_answer_by_idQuestion', function(data){
				$('.listeReponses').empty();
				listeReponses = [];
				for(var rep in data){
					listeReponses.push(data[rep].NOM_REPONSE);
					if (data[rep].ID_REPONSE == idGoodAnswer){
						$('.listeReponses').append('<li id="goodAnswer" class="reponse">' + data[rep].NOM_REPONSE + '</li>');
					} else {
						$('.listeReponses').append('<li class="reponse">' + data[rep].NOM_REPONSE + '</li>');
					}
				}
			});
		}

		function showStats(){
			socket.emit('req_stats_question', id_session, idQuestion);
			socket.on('res_stats_question', function(result){
				google.charts.load('current', {'packages':['corechart']});
				google.charts.setOnLoadCallback(function(){
					drawChart(listeReponses, result);
					$('.stats').show();
					$('.listeReponses').hide();
				});
			});
		}

		function nextQuestion(){
			$('.stats').hide();
			if (numQuestion < nbQuestion){
				numQuestion++;
				loadQuestion(numQuestion, nbQuestion);
				$('.listeReponses').show();			
			}
			refreshDisplayPrevNext();
		}

		function previousQuestion(){
			$('.stats').hide();
			if (numQuestion > 1){
				numQuestion--;
				loadQuestion(numQuestion, nbQuestion);	
				$('.listeReponses').show();			
			}
			refreshDisplayPrevNext();
		}

		function refreshDisplayPrevNext(){
			// Bouton précédent
			if (numQuestion<=1) $('#previousQuestion').attr("disabled", true); 
			else $('#previousQuestion').attr("disabled", false);
			// Bouton suivant
			if (numQuestion>=nbQuestion) $('#nextQuestion').attr("disabled", true);
			else $('#nextQuestion').attr("disabled", false);
		}
	});

	</script>
</html>
