<!DOCTYPE html> 
<html>
	<head>
		<meta charset="UTF-8">
		<title>AmphiQuizz - Questionnaire en cours</title>
		<script src="../../js/jquery.js"></script>
		<script src="../../js/jquery-ui.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/commun.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/diapo.css"/>
	</head>

	<body>
		<div class="blocQuestion">
			<button type="button" id="btnQuitterDiapo" class="bouton suppr" >Quitter</button>

			<h2 id="numQuestion" class="numQuestion"></h2>
			<h1 id="nomQuestion" class="question"></h1>

			<ol class="listeReponses">
			</ol>

			<div class="commands">
				<button type="button" id="nextQuestion" class="bouton">></button>
				<button type="button" id="showAnswer" class="bouton">Afficher la réponse</button>
				<button type="button" id="previousQuestion" class="bouton"><</button>
			</div>
		</div>
	</body>
	<script>
	
	// Connection SOCKET
	var socket = io.connect('http://localhost:8080');

	// variables
	var numQuestion = 1;
	var idQuestion;
	var nbQuestion;
	var idGoodAnswer;
	var q;

	var goodAnswerDisplayed = false;
    	
    var pos_id_session = document.URL.lastIndexOf('/');
    var id_session = document.URL.substr(pos_id_session+1);

    // Chargement du JS
	$(document).ready(function(){

		// loading questions
		socket.emit('req_question_byQuest', id_session);
		socket.on('res_question_byQuest', function(data){
			q = data;
			nbQuestion = data.length;
			loadQuestion(numQuestion, nbQuestion);
		});

		// LEAVE
		$('#btnQuitterDiapo').click(function(){
			socket.emit('req_stop_questionnaire', id_session);
			socket.on('req_stop_questionnaire', function(){
				document.location.href="../../admin";
			});
		});

		// NEXT
		$('#nextQuestion').click(function(){
			nextQuestion();
		});

		$('html').keydown(function (e){
		    if(e.keyCode == 39){ // RIGHT
				nextQuestion();
		    } 
		    else if(e.keyCode == 37){ // LEFT
		    	previousQuestion();
		    }
		    else if(e.keyCode == 32 || e.keyCode == 13){ // SPACEBAR
				showAnswer();
		    }
		});

		$('#previousQuestion').click(function(){
			previousQuestion();
		});

		$('#showAnswer').click(function(){
			showAnswer();
		});

		function loadQuestion(numQuestion, nbQuestions){
			idQuestion = q[numQuestion-1].ID_QUESTION;
			$('#numQuestion').empty();
			$('#numQuestion').append("Question " + numQuestion + "/" + nbQuestions);
			$('#nomQuestion').empty();
			$('#nomQuestion').append(q[numQuestion-1].NOM_QUESTION);
			idGoodAnswer = q[numQuestion-1].ID_REPONSE_BONNE;
			loadAnswers(idQuestion);

			// Bouton précédent
			if (numQuestion==1) $('#previousQuestion').attr("disabled", true); 
			else $('#previousQuestion').attr("disabled", false);
			// Bouton suivant
			if (numQuestion == nbQuestion) $('#nextQuestion').attr("disabled", true);
			else $('#nextQuestion').attr("disabled", false);
		}

		function loadAnswers(idQuestion){
			// Chargement reponse par question
			socket.emit('req_answer_by_idQuestion', idQuestion);
			socket.on('res_answer_by_idQuestion', function(data){
				$('.listeReponses').empty();
				for(var rep in data){
					if (data[rep].ID_REPONSE == idGoodAnswer){
						$('.listeReponses').append('<li id="goodAnswer" class="reponse">' + data[rep].NOM_REPONSE + '</li>');
					} else {
						$('.listeReponses').append('<li class="reponse">' + data[rep].NOM_REPONSE + '</li>');
					}
				}
			});
		}

		function nextQuestion(){
			goodAnswerDisplayed = false;
			if (numQuestion < nbQuestion){
				numQuestion++;
				loadQuestion(numQuestion, nbQuestion);				
			}
		}

		function previousQuestion(){
			goodAnswerDisplayed = false;
			if (numQuestion > 0){
				numQuestion--;
				loadQuestion(numQuestion, nbQuestion);				
			}
		}

		function showAnswer(){
			if (!goodAnswerDisplayed) {
				goodAnswerDisplayed = true;
				$('#goodAnswer').css({"background":"#2ECC71"});
			} else {
				goodAnswerDisplayed = false;
				$('#goodAnswer').css({"background":"transparent"});
			}
		}



	});

	</script>
</html>
