<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head'); %>
    </head>

    <body id="login">
		<div class="buttonContainer">
			<button onclick="location.href='/register';" class="bouton register">Créer un compte</button>
			<button class="bouton suppr shutdown">Éteindre le système</button>
		</div>

        <img src="img/logoAQ.png" alt="Logo" class="logo">
        <form action='/login' method='POST'>
            <div class="group">
                <input class="textField" name="login" id="identifiant" onBlur="checkExistLogin();" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Identifiant de connexion</label>
            </div>

            <div class="group">
                <input class="textField" name="mdp" type="password" id="mdp" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Mot de passe</label>
            </div>

            <div class="connexion">
                <input type="submit" value="Connexion" />
            </div>
        </form>
    </body>
</html>

<script>

    $(document).ready(function(){

        // If login or password wrong
        var erreur = <%- JSON.stringify(erreur) %>;
        if (erreur)
            notif("Login ou mot de passe incorrects", "#E74C3C");

    });

    socket.on('res_exist_login', function(loginExist){
        if (loginExist === false)
            notif("Cet identifiant n'éxiste pas", "#E74C3C");
    });

	$('.shutdown').click(function() {
		info("Voulez-vous vraiment éteindre le système ?", "yesCancel", function(res) {
			if (res) {
				socket.emit('req_sys_shutdown');
			}
		});
	});

</script>
