<!DOCTYPE html> 
<html>
	<head>
		<meta charset="UTF-8">
		<title>AmphiQuizz - Admin</title>
		<link rel="stylesheet" type="text/css" href="../../css/question.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/commun.css"/>
		<script src="../../js/jquery.js"></script>
		<script src="../../js/jquery-ui.js"></script>	
		<script src="/socket.io/socket.io.js"></script>
		<script src="../../js/questionRapide.js"></script>
		<script src="../../js/commun.js"></script>
	</head>

	<body>
		<container>
			<div class="btnRetour">
				<button type="button" onclick="document.location.href='../admin'">Retour</button>
			</div>
			<div class="nomQuestion">
				<div class="group">
					<input class="textField" name="nom" type="text" id="question" value="" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Question</label>
				</div>
				<button class="bouton suppr" id="btnSupprimerQuestion" type="button">Supprimer</button>
				<button class="bouton" id="launchBtn" type="button">Lancer</button>
			</div>
			
			<div class="reponses">
				<div class="ajouterReponses">
					<div class="group">
						<input class="textField" name="nom" type="text" id="rep_A" value="" required>
						<span class="highlight"></span>
						<span class="bar"></span>
						<label>Réponse A</label>
					</div>
					
					<div class="group">
						<input class="textField" name="nom" type="text" id="rep_B" value="" required>
						<span class="highlight"></span>
						<span class="bar"></span>
						<label>Réponse B</label>
					</div>
					<button class="bouton" id="oui_non" type="button">Oui / Non</button>
					<button id='saveQuestion' class="bouton save" type="button">Enregistrer</button>
				</div>
			</div>
		</container>

	<script>

$(document).ready(function(){

	var ID_QUESTION;

    var pos_id_quest = document.URL.lastIndexOf('/');
    var ID_QUESTION = document.URL.substr(pos_id_quest+1);
	
	$('#launchBtn').click(function(){
	});

	$('#question').blur(function(){
		// socket.emit('req_save_question', ID_QUESTION, $('#question').val());
	});

	$('#btnSupprimerQuestion').click(function(){
		alert("question supprimée");
	});

	$('#oui_non').click(function(){
		$("#rep_A").val("Oui");
		$("#rep_B").val("Non");
	});

	$('#saveQuestion').click(function(){
		socket.emit('req_add_answer', $('#rep_A').val(), ID_QUESTION);
		socket.emit('req_add_answer', $('#rep_B').val(), ID_QUESTION);
		socket.emit('req_save_question', ID_QUESTION, $('#question').val());
	});

});

	</script>
	</body>
</html>