<!DOCTYPE html>
<html>
	<head>
		<%- include('./partials/head'); %>
	</head>

	<body id="questionrapide">
		<header>
	    	<%- include('./partials/header') -%>
		</header>
		<container>
			<div class="btnRetour">
				<button type="button" id="btnRetour">Retour</button>
			</div>
			<div class="nomQuestion">
				<div class="group">
					<input class="textField" name="nom" type="text" id="question" value="" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Question</label>
				</div>
				<button class="bouton" id="launchQuestionnaire" type="button">Lancer</button>
			</div>

			<div class="reponses">
				<div class="ajouterReponse">
					<div class="choixReponse">
						<div class='radio'>
							<input type='radio' name='radioAnswer' value="A" checked/>
							<label class='radio-label'></label>
						</div>
						<div class='radio'>
							<input type='radio' name='radioAnswer' value="B"/>
							<label class='radio-label'></label>
						</div>
					</div>
					<div class="nomReponse">
						<div class="group">
							<input class="textField" name="nom" type="text" id="repA" value="" required>
							<span class="highlight"></span>
							<span class="bar"></span>
							<label>Réponse A</label>
						</div>

						<div class="group">
							<input class="textField" name="nom" type="text" id="repB" value="" required>
							<span class="highlight"></span>
							<span class="bar"></span>
							<label>Réponse B</label>
						</div>

						<button class="bouton" id="btnOuiNon" type="button">Oui / Non</button>
						<button id='saveQuestion' class="bouton save" type="button">Enregistrer</button>
					</div>
				</div>
			</div>
		</container>

	<script>

$(document).ready(function(){
	var ID_QUESTION = <%- JSON.stringify(idQuestion) -%>;
	var ID_QUESTIONNAIRE = <%- JSON.stringify(idQuestionnaire) -%>;

	$('#btnOuiNon').click(function(){
		$("#repA").val("Oui");
		$("#repB").val("Non");
	});

	$('#saveQuestion').click(function(){
		saveQuestion();
	});

	$('#btnRetour').click(function(){
		saveQuestion();
		document.location.href='../../admin';
	});

	$('#launchQuestionnaire').click(function(){
		if (saveQuestion()){
			socket.emit('req_launch_questionnaire', ID_QUESTIONNAIRE);
			socket.on('res_launch_questionnaire', function(id_session){
	    		document.location.href='../launched/' + id_session;
			});
		}
	});

	function saveQuestion() {
		if ( $('#question').val() ) {
			if ( $('#repA').val() ) {
				if ( $('#repB').val() ) {
					if ( $("input[name='radioAnswer']:checked").val() ) {
						var questionName = $('#question').val();
						var answer_A = $('#repA').val();
						var answer_B = $('#repB').val();
						var goodAnswer = $("input[name='radioAnswer']:checked").val(); // A or B

						socket.emit('req_addQuestionRapide', ID_QUESTION, questionName, answer_A, answer_B, goodAnswer);
						socket.on('req_addQuestionRapide', function(){ });
						notif("La question a été enregistrée", "#2ECC71");

						return true;
					} else notif("Veuillez choisir une bonne réponse", "#E74C3C");
				} else notif("Veuillez indiquer le champ \"Réponse B\"", "#E74C3C");
			} else notif("Veuillez indiquer le champ \"Réponse A\"", "#E74C3C");
		} else notif("Veuillez indiquer le champ \"Question\"", "#E74C3C");
	}
	return false;

});

	</script>
	</body>
</html>
