<!DOCTYPE html> 
<html>
	<head>
		<meta charset="UTF-8">
		<title>Mon Questionnaire</title>
		<link rel="stylesheet" type="text/css" href="../../css/commun.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/dashboard.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/questionnaire.css"/>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script src="../../js/commun.js"></script>
		<script>
			$(function() {
			    $("#sortable").sortable();
			    $("#sortable").disableSelection();
			});
		</script>
	</head>

	<body>
		<container>
			<div class="btnRetour">
				<button type="button" onclick="document.location.href='../../admin'">Retour</button>
			</div>
			<div class="listeQuestions">
				<ol id="sortable">
				</ol>
				<button class="bouton" type="button" id="addQuestion">Ajouter une question</button>
			</div>
			<!-- <div class="infosQuestionnaire">
				<div class="group">
					<input class="textField" name="nom" type="text" id="nom" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Nom du questionnaire</label>
					
					<button class="bouton" type="button" id="addQuestion">Ajouter une question</button>
				</div>
			</div> -->

			

			<div class="infosQuestionnaire">
				<div class="nomQuestionnaire">
					<div class="group">
						<input class="textField" name="nom" type="text" id="nom" value="Questionnaire ABC" required>
						<span class="highlight"></span>
						<span class="bar"></span>
						<label>Nom du questionnaire</label>
					</div>
					<div class="boutonContainer">
						<div>
							<button id='statsQuestionnaire' class="bouton stats" type="button">Stats</button>
							<button id='launchQuestionnaire' class="bouton launch" type="button">Lancer le questionnaire</button>
						</div>
						<div>
							<button id='delQuestionnaire' class="bouton suppr" type="button">Supprimer</button>
							<button id='saveQuestionnaire' class="bouton save" type="button">Enregistrer</button>
						</div>
					</div>
				</div>
			</div>
		</container>
	</body>


<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:8080');
    var ID_QUESTIONNAIRE;
    var NOM_QUESTIONNAIRE;

	// Demande questions du questionnaire
    socket.emit('req_question_by_questionnaire_id');
    socket.on('res_question_by_questionnaire_id', function(questions, questionnaire, id_questionnaire){
    	ID_QUESTIONNAIRE = questionnaire[0].id_questionnaire;
    	NOM_QUESTIONNAIRE = questionnaire[0].nom_questionnaire;
		$('#nom').val(NOM_QUESTIONNAIRE);

    	for(var i in questions) {
    		var liString = "<li onclick='affQuestion("+ questions[i].id_question +");' id='"+ questions[i].id_question +"' class='incomplet'>" + questions[i].nom_question + "</li>";
    		$('#sortable').append(liString);
    	}
    });
/*
    $('#sortable li').draggable({
    	start: function(event, ui){
    		$(this).data('dragging', true);
    	}, 
    	stop: function(event, ui){
    		setTimeout(function(){
    			$(event.target).data('dragging', false);
    		}, 1);
    	}, 
    });
*/

	// Click ajouter question
    $('#addQuestion').click(function(){
    	socket.emit('req_add_question', ID_QUESTIONNAIRE);
    	socket.on('res_add_question', function(id_question){
    		document.location.href='../../admin/question/' + id_question;
    	});
	});

    // Click sur supprimer le questionnaire
    $('#delQuestionnaire').click(function(){
    	socket.emit('req_del_questionnaire', ID_QUESTIONNAIRE);
    	// socket.on('res_del_questionnaire');
    	document.location.href='../../admin';
    });


    // Click sur sauvegarder le questionnaire
	$('#saveQuestionnaire').click(function(){
		if($('#nom').val()!=NOM_QUESTIONNAIRE){
			alert("Le questionnaire a été sauvegardé !");
			socket.emit('req_save_questionnaire', ID_QUESTIONNAIRE, $('#nom').val());
		}
		else{
			alert("Aucune modification effectuée !");
		}
	});

	// Click sur une question
	function affQuestion(id_question){
    	document.location.href='../../admin/question/' + id_question;
	};

</script>
</html>