<!DOCTYPE html>
<html>
	<head>
		<%- include('./partials/head'); %>
	</head>

	<body id="questionrapide">
		<header>
	    	<%- include('./partials/header') -%>
		</header>
		<container>
			<div class="btnRetour">
				<button type="button" id="backButton">Retour</button>
			</div>
			<div class="nomQuestion">
				<div class="group">
					<input class="textField" name="nom" type="text" id="question" value="" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Question</label>
				</div>
				<button class="bouton" id="launchQuestionnaire" type="button">Lancer</button>
			</div>

			<div class="reponses">
				<div class="ajouterReponses">
					<div class="group">
						<input class="textField" name="nom" type="text" id="rep_A" value="" required>
						<span class="highlight"></span>
						<span class="bar"></span>
						<label>Réponse A</label>
					</div>

					<div class="group">
						<input class="textField" name="nom" type="text" id="rep_B" value="" required>
						<span class="highlight"></span>
						<span class="bar"></span>
						<label>Réponse B</label>
					</div>
					<div>
						<p>Bonne réponse :</p>
						<input type="radio" name="radioAnswer" value="A"> A<br>
  						<input type="radio" name="radioAnswer" value="B"> B<br>
					</div>
					<button class="bouton" id="oui_non" type="button">Oui / Non</button>
					<button id='saveQuestion' class="bouton save" type="button">Enregistrer</button>
				</div>
			</div>
		</container>

	<script>

$(document).ready(function(){ 
	var ID_QUESTION = <%- JSON.stringify(idQuestion) -%>;
	var ID_QUESTIONNAIRE = <%- JSON.stringify(idQuestionnaire) -%>;

	$('#oui_non').click(function(){
		$("#rep_A").val("Oui");
		$("#rep_B").val("Non");
	});

	$('#saveQuestion').click(function(){
		saveQuestion();
	});

	$('#backButton').click(function(){
		document.location.href='../../admin';
	});

	$('#launchQuestionnaire').click(function(){
		if (saveQuestion()){
			socket.emit('req_launch_questionnaire', ID_QUESTIONNAIRE);
			socket.on('res_launch_questionnaire', function(id_session){
	    		document.location.href='../launched/' + id_session;
			});
		}
	});

	function saveQuestion(){
		if ( $('#question').val() ){
			if ( $('#rep_A').val() ){
				if ( $('#rep_B').val() ){
					if ( $("input[name='radioAnswer']:checked").val() )
					{
						var questionName = $('#question').val();
						var answer_A = $('#rep_A').val();
						var answer_B = $('#rep_B').val();
						var goodAnswer = $("input[name='radioAnswer']:checked").val(); // A or B

						socket.emit('req_addQuestionRapide', ID_QUESTION, questionName, answer_A, answer_B, goodAnswer);
						socket.on('req_addQuestionRapide', function(){ });
						notif("La question a été enregistrée", "#2ECC71");
						return true;
					}
					else notif("Veuillez choisir une bonne réponse", "#E74C3C");
				} else notif("Veuillez indiquer le champ \"Réponse B\"", "#E74C3C");
			} else notif("Veuillez indiquer le champ \"Réponse A\"", "#E74C3C");
		} else notif("Veuillez indiquer le champ \"Question\"", "#E74C3C");
	}
	return false;

});

	</script>
	</body>
</html>
