<!DOCTYPE html> 
<html>
	<head>
		<meta charset="UTF-8">
		<title>AmphiQuizz - Admin</title>
		<link rel="stylesheet" type="text/css" href="../../css/commun.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/dashboard.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/questionnaire.css"/>
		<script src="../../js/jquery.js"></script>
		<script src="../../js/jquery-ui.js"></script>	
		<script src="/socket.io/socket.io.js"></script>
		<script src="../../js/commun.js"></script>
		<script>
			$(function() {
			    $("#sortable").sortable();
			    $("#sortable").disableSelection();
			});
		</script>
	</head>

	<body>
		<container>
			<div class="btnRetour">
				<button type="button" onclick="document.location.href='../../admin'">Retour</button>
			</div>
			<div class="listeQuestions">
				<ol id="sortable">
				</ol>
				<button class="bouton" type="button" id="addQuestion">Ajouter une question</button>
			</div>
			<div class="infosQuestionnaire">
				<div class="nomQuestionnaire">
					<div class="group">
						<input class="textField" name="nom" type="text" id="nom" value="" required>
						<span class="highlight"></span>
						<span class="bar"></span>
						<label>Nom du questionnaire</label>
					</div>
					<div class="boutonContainer">
						<div>
							<button id='exportQuestionnaire' class="bouton launch" type="button">Exporter</button>
							<button id='statsQuestionnaire' class="bouton stats" type="button">Stats</button>
							<button id='launchQuestionnaire' class="bouton launch" type="button">Lancer le questionnaire</button>
						</div>
						<div>
							<button id='delQuestionnaire' class="bouton suppr" type="button">Supprimer</button>
							<button id='saveQuestionnaire' class="bouton save" type="button">Enregistrer</button>
						</div>
					</div>
				</div>
			</div>
		</container>
	</body>


<script>
    var pos_id_quest = document.URL.lastIndexOf('/');
    var ID_QUESTIONNAIRE = document.URL.substr(pos_id_quest+1);
    var NOM_QUESTIONNAIRE;

	// Demande questions du questionnaire
    socket.emit('req_question_by_questionnaire_id', ID_QUESTIONNAIRE);
    socket.on('res_question_by_questionnaire_id', function(questions, questionnaire){
    	NOM_QUESTIONNAIRE = questionnaire[0].NOM_QUESTIONNAIRE;
		$('#nom').val(NOM_QUESTIONNAIRE);

		var etat_question;
    	for(var i in questions) {
    		etat_question =  "class='incomplet'>";
    		if (questions[i].ETAT_QUESTION==1) etat_question = "class='complet'>";

    		var liString = "<li onclick='affQuestion("+ questions[i].ID_QUESTION +");' id='"+ questions[i].ID_QUESTION +"' "+ etat_question + " " + questions[i].NOM_QUESTION + "</li>";
    		$('#sortable').append(liString);
    	}
    });

	// Click ajouter question
    $('#addQuestion').click(function(){
    	socket.emit('req_add_question', ID_QUESTIONNAIRE);
    	socket.on('res_add_question', function(id_question){
    		document.location.href='../../question/' + id_question;
    	});
	});

    // Click sur supprimer le questionnaire
    $('#delQuestionnaire').click(function(){
		if (confirm("Souhaitez-vous vraiment supprimer le questionnaire ainsi que toutes les questions associées ?")) {
    		socket.emit('req_del_questionnaire', ID_QUESTIONNAIRE);
    		document.location.href='../../admin';
		}
    });

    // Click sur sauvegarder le questionnaire
	$('#saveQuestionnaire').click(function(){
		if($('#nom').val()!=NOM_QUESTIONNAIRE){
			socket.emit('req_save_questionnaire', ID_QUESTIONNAIRE, $('#nom').val());
		}
	});

	// Click sur une question
	function affQuestion(id_question){
    	document.location.href='../../question/' + id_question;
	};

	$('#statsQuestionnaire').click(function(){
    	document.location.href='../stats/' + ID_QUESTIONNAIRE;
	});

	$('#exportQuestionnaire').click(function(){
		socket.emit('req_export_info', ID_QUESTIONNAIRE);
		socket.on('res_export_info', function(data){
			console.log(data);
		});
	});
</script>
</html>