<!DOCTYPE html> 
<html>
	<head>
		<meta charset="UTF-8">
		<title>AmphiQuizz - Admin</title>
		<link rel="stylesheet" type="text/css" href="../../css/commun.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/dashboard.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/question.css"/>
		<script src="../../js/jquery.js"></script>
		<script src="../../js/jquery-ui.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="../../js/commun.js"></script>
		<script>
			$(function() {
                $("#sortable").sortable({
                    start: function(event, ui) {
                        ui.item.bind("click.prevent",
                            function(event) { event.preventDefault(); });
                    },
                    stop: function(event, ui) {
                        setTimeout(function(){ui.item.unbind("click.prevent");}, 300);
                    }
                    });
                $("#sortable").disableSelection();
            });
		</script>
	</head>

	<body>
		<container>
			<div class="btnRetour">
				<button type="button" id="btnRetour" >Retour</button>
			</div>

			<div class="nomQuestion">
				<div class="group">
					<input class="textField" name="nom" type="text" id="question" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Question</label>
				</div>
				<button class="bouton suppr" id="btnSupprimerQuestion" type="button">Supprimer</button>
				<button class="bouton save" id="btnSauvegarderQuestion" type="button">Sauvegarder</button>
			</div>
			<div class="reponses">
				<div class="ajouterReponses">
					<div class="group">
						<input class="textField" name="nom" type="text" id="nom" value="" required>
						<span class="highlight"></span>
						<span class="bar"></span>
						<label>Ajouter une réponse</label>
					</div>
					<button class="bouton" id="btnAjouterReponse" type="button">Ajouter une réponse</button>
				</div>
				<div class="listeReponses">
					<table>
						<thead>
							<tr>
								<th>Réponses possibles</th><th>Bonne réponse</th><th></th>
							</tr>
						</thead>
						<tbody id='sortable'>		<!-- REPONSES -->		</tbody>
					</table>
				</div>
			</div>
		</container>
	</body>

	<script>

	var ID_QUESTION;
	var ID_QUESTIONNAIRE;

    var pos_id_quest = document.URL.lastIndexOf('/');
    var ID_QUESTION = document.URL.substr(pos_id_quest+1);
	// INIT (demande question et reponses)
	loadAnswers();
	// FIN INIT

	$('#btnSupprimerQuestion').click(function(){
		socket.emit('del_question', ID_QUESTION);
		document.location.href = '../questionnaire/' + ID_QUESTIONNAIRE;
	});

	$('#btnSauvegarderQuestion').click(function(){
		socket.emit('req_save_question', ID_QUESTION, $('#question').val());
		// document.location.href = '../questionnaire/' + ID_QUESTIONNAIRE;
	});

	$('#btnRetour').click(function(){
		document.location.href = '../questionnaire/' + ID_QUESTIONNAIRE;
	});

	$('#btnAjouterReponse').click(function(){
		var reponse = $('#nom').val();
		$('#nom').val('');
		if (reponse.length != 0)
		{
			socket.emit('req_add_answer', reponse, ID_QUESTION);
    		socket.off('res_add_answer');
			socket.on('res_add_answer', function(id_reponse){
				var reponse_id = "answer" + id_reponse;
				$('tbody').append("<tr id='" + reponse_id + "'><td>"+ reponse +"</td>" +
															  "<td><div class='radio'><input onclick='radioClicked("+ id_reponse +")' type='radio' name='bonneReponse' /><label class='radio-label'></label></div></td>" +
															  "<td onclick='delAnswer("+ id_reponse +")' class='supprimerReponse'>✖</td></tr>");
			});
		}
	});

	function loadAnswers(){
		$('tbody tr').remove();
		socket.emit('req_question_reponse', ID_QUESTION);
		socket.on('res_question_reponse', function(question, reponses){
			ID_QUESTIONNAIRE = question[0].ID_QUESTIONNAIRE;
			$('#question').val(question[0].NOM_QUESTION);

			for (var i in reponses)
			{
				var row = $('<tr id=answer'+ reponses[i].ID_REPONSE +'>');
				var column1 = $('<td>'), 
					column2 = $('<td>');
				column1.append(reponses[i].NOM_REPONSE);

				var isChecked = " ";
				if (question[0].ID_REPONSE_BONNE == reponses[i].ID_REPONSE)
					isChecked = " checked ";
				column2.append('<div class="radio"><input onclick="radioClicked('+ reponses[i].ID_REPONSE +')" type="radio"'+ isChecked +'name="bonneReponse"><label class="radio-label"></label></div>');

				$(row).append(column1, column2);
				row.append('<td onclick="delAnswer('+ reponses[i].ID_REPONSE +')" class="supprimerReponse">✖</td>')
				$('tbody').append(row);
			}
		});
	}

	function delAnswer(id_answer){
		socket.emit('del_answer', id_answer);
		$("#answer"+ id_answer).remove();
	}

	function radioClicked(id_bonne_reponse){
		socket.emit('edit_answer', id_bonne_reponse, ID_QUESTION, ID_QUESTIONNAIRE);
	}

	$('#sortable tr td:nth-child(2)').click(function(event) {
            $(this).children('.radio').children('input').prop('checked', true);
    });	
	</script>
</html>