<!DOCTYPE html>
<html>

    <head>
        <%- include('./partials/head'); %>
    </head>
    <body id="register">
		<div class="btnRetour">
			<button onclick="location.href='/';">Retour</button>
		</div>
    
        <img src="img/logoAQ.png" alt="Logo" class="logo">
        <form action='/register' method='POST'>
            <div class="container">
                <div class="group">
                    <input class="textField" name="name" id="name" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Nom</label>
                </div>
                <div class="group">
                    <input class="textField" name="firstname" id="firstname" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Prénom</label>
                </div>
                <div class="group">
                    <input class="textField" name="login" id="identifiant" onBlur="checkExistLogin();" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Identifiant de connexion</label>
                </div>
                <div class="group">
                    <input class="textField" name="password1" type="password" id="password1" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Mot de passe</label>
                </div>
                <div class="group">
                    <input class="textField" name="password2" type="password" id="password2" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Confirmation mot de passe</label>
                </div>
                <div class="connexion">
                    <input type="submit" value="Inscription" id="submitRegister" />
                </div>
            </div>
        </form>
    </body>
</html>

<script>

    $(document).ready(function(){

        // If error on creating account
        var data = <%- JSON.stringify(data) %>;
        if (data){
            console.log(data[1]);
            if (data[0]==1)
                notif("L'identifiant est déjà utilisé", "#E74C3C");
            else if (data[0]==2)
                notif("Le mot de passe est trop court", "#E74C3C");
            else if (data[0]==3)
                notif("L'identifiant est trop court", "#E74C3C");
            else if (data[0]==4)
                notif("Le prénom est trop court", "#E74C3C");
            else if (data[0]==5)
                notif("Le prénom est trop court", "#E74C3C");

        }

        $('#password1').on('blur', function(){
            var password1 = $('#password1').val();
            var password2 = $('#password2').val();
            if (password1.length < 6)
                notif("Le mot de passe est trop court", "#E74C3C")
            if (password1.length!=0 && password2.length!=0 && password1!=password2){
                notif("Les mots de passe ne correspondent pas", "#E74C3C");
            }
        });

        $('#password2').on('blur', function(){
            var password1 = $('#password1').val();
            var password2 = $('#password2').val();
            if (password2.length < 6)
                notif("Le mot de passe est trop court", "#E74C3C")
            if (password1.length!=0 && password2.length!=0 && password1!=password2){
                notif("Les mots de passe ne correspondent pas", "#E74C3C");
            }
        });

    });

    socket.on('res_exist_login', function(loginExist){
        if (loginExist === true){
            notif("Cet identifiant existe déjà", "#E74C3C");
            
        }
    });
</script>
