<!-- register.html -->

<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">
        <title>AmphiQuizz - Connexion</title>
        <link rel="stylesheet" type="text/css" href="css/commun.css"/>
        <link rel="stylesheet" type="text/css" href="css/connexion.css"/>
        <script src="../../js/jquery.js"></script>
        <script src="../../js/jquery-ui.js"></script>
        <script src="/socket.io/socket.io.js"></script>
		<script src="../../js/socket.js"></script>
    </head>
    <body>
        <img src="img/logoAQ.png" alt="Logo" class="logo">
        <form action='/register' method='POST'>
            <div class="container">
                <div class="group">
                    <input class="textField" name="name" id="name" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Nom</label>
                </div>
                <div class="group">
                    <input class="textField" name="firstname" id="firstname" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Prénom</label>
                </div>
                <div class="group">
                    <input class="textField" name="login" id="login" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Identifiant de connexion</label>
                </div>
                <div class="group">
                    <input class="textField" name="password1" type="password" id="password1" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Mot de passe</label>
                </div>
                <div class="group">
                    <input class="textField" name="password2" type="password" id="password2" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Confirmation Mot de passe</label>
                </div>
                <div class="connexion">
                    <input type="submit" value="Inscription" id="submitRegister" />
                    <a href="/">Retour</a>
                </div>
            </div>
        </form>
    </body>
</html>