<!DOCTYPE html>
<html>

    <head>
        <%- include('./partials/head'); %>
    </head>
    <body id="register">
		<div class="btnRetour">
			<button onclick="location.href='/';">Retour</button>
		</div>
    
        <img src="img/logoAQ.png" alt="Logo" class="logo">
        <form action='/register' method='POST'>
            <div class="container">
                <div class="group">
                    <input class="textField" name="name" id="name" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Nom</label>
                </div>
                <div class="group">
                    <input class="textField" name="firstname" id="firstname" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Prénom</label>
                </div>
                <div class="group">
                    <input class="textField" name="login" id="login" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Identifiant de connexion</label>
                </div>
                <div class="group">
                    <input class="textField" name="password1" type="password" id="password1" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Mot de passe</label>
                </div>
                <div class="group">
                    <input class="textField" name="password2" type="password" id="password2" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Confirmation mot de passe</label>
                </div>
                <div class="connexion">
                    <input type="submit" value="Inscription" id="submitRegister" />
                </div>
                <p id="erreurLogin" ><p>
            </div>
        </form>
    </body>
</html>

<script>

$(document).ready(function(){

    // If error on creating account
    var erreur = <%- JSON.stringify(erreur) %>;
    if (erreur){
        notif("Le mot de passe ne correspond pas", "#E74C3C");
        $('#erreurLogin').append("Impossible de créer le compte, vérfiez vos identifiants et essayez de changer de login");
    }
});
</script>
