<!DOCTYPE html> 
<html>
	<head>
		<meta charset="UTF-8">
		<title>Statistiques</title>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/commun.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/stats.css"/>
		<script src="/socket.io/socket.io.js"></script>
		<script src="../../js/commun.js"></script>

	</head>

	<body>
		<container>
		<div class="btnRetour">
			<button type="button">Retour</button>
		</div>
		
		<div class="stats">
		<canvas id="stats" width="1000" height="550">Canvas non pris en charge par le navigateur</canvas>
		<div class="change">
			<button class="bouton" id="preced" type="button">Précedent</button>
			<button class="bouton" id="suivant" type="button">Suivant</button>
		</div>
                <script>

			    var pos_id_quest = document.URL.lastIndexOf('/');
			    var ID_QUESTIONNAIRE = document.URL.substr(pos_id_quest+1);

			    $(".btnRetour").click(function(){
			    	document.location.href = "../questionnaire/" + ID_QUESTIONNAIRE;
			    });


			    socket.emit('req_stats', ID_QUESTIONNAIRE);
			    socket.on('res_stats', function(data){
			    	console.log(data);
			    	var kQuestion = 0;
			    

			    
	                //==============================================================================
	                //==============================================================================
	                //INITIALISATION CANVAS 2D
	                var stats = document.getElementById("stats");
	                var context = stats.getContext('2d');
	                var bg = new Image();

	                //
	                //VARIABLE BDD
	                var questionnaire_numero = data[kQuestion].ID_QUESTIONNAIRE;
	                var numero_question = kQuestion +1;
	                var enonce_question = data[kQuestion].NOM_QUESTION;
	                var nom_reponse_A = "Blanc";
	                var nom_reponse_B = "Rouge";
	                var nom_reponse_C = "Noir";
	                var nom_reponse_D = 0;
	                var nom_reponse_E = 0;
	                
	                var nombre_eleves_total = 100;
	                var nombre_eleves_reponse_A=90;
	                var nombre_eleves_reponse_B=80;
	                var nombre_eleves_reponse_C=40;
	                var nombre_eleves_reponse_D=10;
	                var nombre_eleves_reponse_E=20;
	                //
	                //VARIABLE UTILE POUR CALCULE
	                var taill100prct = 350;
	                var position_reponse=700;
	                var pourcentage_rep_A=0.2;
	                var pourcentage_rep_B=nombre_eleves_reponse_B/nombre_eleves_total;
	                var pourcentage_rep_C=nombre_eleves_reponse_C/nombre_eleves_total;
	                var pourcentage_rep_D=nombre_eleves_reponse_D/nombre_eleves_total;
	                var pourcentage_rep_E=nombre_eleves_reponse_E/nombre_eleves_total;
	                var taille_index_rep_A=pourcentage_rep_A*taill100prct;
	                var taille_index_rep_B=pourcentage_rep_B*taill100prct;
	                var taille_index_rep_C=pourcentage_rep_C*taill100prct;
	                var taille_index_rep_D=pourcentage_rep_D*taill100prct;
	                var taille_index_rep_E=pourcentage_rep_E*taill100prct;
	                var position_barres = 449;
	                var width_barres = 40;
	                var position_barres_initiales=120;
	                var espacement_barres = 100;
	                //
	                //VARIABLE VISUEL
	                gradient = context.createLinearGradient(186.000, 300.000, 114.000, 0.000);
	                // colors
	                gradient.addColorStop(0.500, 'rgba(250, 250, 250, 0.1)');
	                gradient.addColorStop(1.000, 'rgba(250, 250, 250, 0.01)');
	                gradientA=context.fillStyle = "rgb(255,0,0)";
	                gradientB=context.fillStyle = "rgb(255,150,0)";
	                gradientC=context.fillStyle = "rgb(150,255,0)";
	                gradientD=context.fillStyle = "rgb(0,255,0)";
	                gradientE=context.fillStyle = "rgb(0,150,150)";
	                gradientDefault=context.fillStyle="#000000";
	                //==============================================================================
	                //==============================================================================
	                
	                
	                function draw()
	                {
	                
	                context.fillStyle = gradient;
	                context.fillRect(0, 0, stats.width, stats.height);
	                
	                //DESSIN DU GRAPHIQUE
	                        context.beginPath();
	                        context.moveTo(60, 130);
	                        context.lineTo(60, 100+taill100prct);
	                        context.moveTo(60, 100+taill100prct);
	                        context.lineTo(650, 100+taill100prct);
	                        context.stroke();
	                        context.fillStyle=gradientA;
	                        context.fillRect(position_barres_initiales, position_barres, width_barres,-taille_index_rep_A );
	                        context.fillStyle=gradientB;
	                        context.fillRect(position_barres_initiales+espacement_barres, position_barres, width_barres, -taille_index_rep_B);
	                        context.fillStyle=gradientC;
	                        context.fillRect(position_barres_initiales+espacement_barres*2, position_barres, width_barres, -taille_index_rep_C);
	                        context.fillStyle=gradientD;
	                        context.fillRect(position_barres_initiales+espacement_barres*3, position_barres, width_barres, -taille_index_rep_D);
	                        context.fillStyle=gradientE;
	                        context.fillRect(position_barres_initiales+espacement_barres*4, position_barres, width_barres, -taille_index_rep_E);
	                //
	                //AFFICHAGE DU TEXT
	                        context.font="20pt Calibri, Geneva, Arial";
	                        context.fillStyle="#d8d8d8";
	                        context.fillText("Question n°"+numero_question,10,25);
	                        context.font="23pt Calibri, Geneva, Arial";
	                        context.fillStyle="#414141";
	                        context.textAlign="center";
	                        context.fillText(enonce_question,stats.width/2,70)
	                        context.font="20px Arial";
	                        context.textAlign="start";
	                        context.fillStyle=gradientA;
	                        context.fillText("A-"+nom_reponse_A,position_reponse,150);
	                        context.fillStyle=gradientB;
	                        context.fillText("B-"+nom_reponse_B,position_reponse,200);
	                        context.fillStyle=gradientC;
	                        context.fillText("C-"+nom_reponse_C,position_reponse,250);
	                        context.fillStyle=gradientD;
	                        context.fillText("D-"+nom_reponse_D,position_reponse,300);
	                        context.fillStyle=gradientE;
	                        context.fillText("E-"+nom_reponse_E,position_reponse,350);
	                        context.fillStyle=gradientDefault;
	                        context.fillText("A",position_barres_initiales+13,position_barres+30);
	                        context.fillText("B",position_barres_initiales+13+espacement_barres,position_barres+30);
	                        context.fillText("C",position_barres_initiales+13+espacement_barres*2,position_barres+30);
	                        context.fillText("D",position_barres_initiales+13+espacement_barres*3,position_barres+30);
	                        context.fillText("E",position_barres_initiales+13+espacement_barres*4,position_barres+30);
	                //
	                window.requestAnimationFrame(draw);
	                }
	                window.requestAnimationFrame(draw);
	                // draw();
	                $('#suivant').click(function(){
						kQuestion++;
	               		context.clearRect(0,0,2000,2000);
	                	context.restore();
	                	console.log(kQuestion);
				    });

				    $('#preced').click(function(){
				    	kQuestion--;
	               		context.clearRect(0,0,2000,2000);
	                	context.restore();
	                	console.log(kQuestion);
				    });
                });
                </script>

		</div>
		
	
	
	</body>
</html>